* {
  margin: 0;
  padding: 0;
}
html,
body {
  color: black;
  background-color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.gradient {
  background: rgb(32, 54, 71);
  background: linear-gradient(187deg, rgba(32, 54, 71, 1) 13%, rgba(0, 124, 199, 1) 90%, rgba(77, 168, 218, 1) 100%);
}

.navbar ul li a {
  margin-right: 20px;
}

/* header */
.header {
  color: white;
  margin-top: 4rem;
  font-size: 1.2rem;
}

/* partner */
#partner {
  padding-top: 5rem;
}

#partner h1 {
  /* font-weight: bold; */
  margin-bottom: 30px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
  text-decoration: underline;
}

/* Introducing */
#introducing {
  background: rgb(32, 54, 71);
  background: linear-gradient(342deg, rgba(32, 54, 71, 1) 28%, rgba(0, 124, 199, 1) 90%, rgba(77, 168, 218, 1) 100%);
  color: white;
}

.container ul {
  padding-left: 1rem;
  list-style: none;
}

#introducing .container ul li {
  padding-left: 2rem;
  color: white;
  height: 30px;
  /* height: 20px;
  width: 20px; */
  background-image: url(img/check.png);
  background-repeat: no-repeat;
}

/* service */
#Service {
  padding-top: 5rem;
}

#Service i {
  background: rgb(32, 54, 71);
  background: linear-gradient(135deg, rgba(32, 54, 71, 1) 50%, rgba(0, 124, 199, 1) 95%, rgba(77, 168, 218, 1) 100%);
  color: white;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#Service .container h1 {
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
}

/* Gallery */
#gallery {
  background-color: #ddd;
  /* padding-bottom: 5rem; */
}
.thumbnail {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-top: 20px;
}

.thumbnail img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

/* Features */
#Features {
  background: rgb(22, 23, 72);
  background: linear-gradient(173deg, rgba(22, 23, 72, 1) 28%, rgba(71, 133, 89, 1) 62%, rgba(57, 160, 202, 1) 100%);
  color: white;
}

#Features {
  padding-top: 5rem;
}

#Features h1 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
}

/* contact */
#contact {
  padding-top: 5rem;
}

#contact h2 {
  letter-spacing: 3px;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
}
/* footer */
footer {
  color: white;
  background-color: #0f3057;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

/* section */
/* section {
  padding-top: 5rem;
} */
